// Color
$white: #FFFFFF;
$whiteF8: #F8F8F8;
$black6: #666666;
$blackC: #CCCCCC;
$black: #000000;
$blackModalMask: #000000B3;
$dark: #333333;
$black1: #3B4043;
$black2: #707070;
$blue1: #02408A;
$blue2: #0075FF;
$red: #D7162E;
$red1: #FF0000;
$red2: #FF2424;
$brown: #6A380E;
$brown1: #A9927E;
$yellow5: #907C1B;
$grey1: #CDD6DD;
$grey2: #CCCCCC;
$pink: #DE3486;
$pink2: #de3486cc;
$blue: #4358C1;
$violet: #7449CF;
$light-blue: #2799E2;
$light-purple: #A03BBA;
