.sideNav {
  box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.2), inset -0.5px 0px 0px #d6d6d6;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 223px;
  top: 0;
  z-index: 1;
  left: -84px;
  transition: width 0.3s;
  height: calc(100vh - 65px);
  height: calc(var(--vh, 1vh) * 100 - 65px);
  min-height: 100%;
  background-color: white;
  :global {
    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
      border: none;
    }
    .anticon {
      width: 12px;
    }
    .hint {
      padding: 10px 15px 20px 15px;
      color: #fff;
      border-bottom: 1px solid #3b3b3b;
    }
    .ant-menu-item {
      color: #3b3b3b;
      height: 51px;
      font-weight: bold;
      position: relative;
      img {
        height: 24px;
        color: #a03bba;
      }
      a {
        color: #3b3b3b;
      }
      svg path {
        stroke: #3b3b3b;
      }
      &.ant-menu-item-active::before {
        position: absolute;
        background-color: rgba(3, 185, 124, 0.12) !important;
        opacity: 0.1;
        content: '';
        width: calc(100% - 30px);
        height: 100%;
        border-radius: 10px;
        left: 15px;
        z-index: 0;
      }
    }
    .ant-menu-item-selected {
      color: #fff;
      background-color: transparent !important;
      position: relative;
      &::before {
        position: absolute;
        background-color: rgba(3, 185, 124, 0.12) !important;
        opacity: 1 !important;
        content: '';
        width: calc(100% - 30px);
        height: 100%;
        border-radius: 10px;
        left: 15px;
        z-index: 0;
      }
      * {
        z-index: 1;
      }
    }
    .ant-menu-inline .ant-menu-item::after {
      border-right: none;
    }
    .ant-menu {
      hr {
        border-color: #3b3b3b;
      }
    }
  }
  &.isCollapsed {
    box-shadow: inset -0.5px 0px 0px #d6d6d6;
    :global {
      .ant-menu {
        border-right: 1px solid #ddd;
      }
    }
  }
  .antMenu {
    // background-color: #3B3B3B;
    color: #fff;
    :golobal {
      .ant-menu-item-active {
        color: #fff;
      }
    }
  }

  .logo {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #1890ff !important;
    :global {
      img {
        width: 100%;
        height: 196px;
        object-fit: cover;
      }
    }
  }
}
.headerBox {
  position: relative;
}
.overlay {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: 0.7);
}
.headerItem {
  font-size: 16px;
}
.isCollapsed {
  width: 84px;
  :global {
    .ant-menu-item {
      padding-left: 30px !important;
    }
  }
}
.sideNav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #f5f5f5;
}

.sideNav::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

.sideNav::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}
.sideNavCollapsed {
  .logo {
    font-size: 12px;
  }
}
@media only screen and (max-width: 992px) {
  .sideNav {
    width: 300px;
  }
  .isCollapsed {
    width: 0px;
  }
}
